.card {
  background-color: #e0e5ec;
  border-radius: 5px;
  /* box-shadow: 2rem 4rem 9rem rgba(0, 0, 0, 0.1); */
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin: 1rem;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0rem 0.5rem 2rem rgba(0, 0, 0, 0.4);
}

.hour-card h2 {
  font-weight: 300;
}
