.location-form-container {
  display: flex;
  flex-direction: column;
}

.location-form-container h2 {
  color: #333;
  font-weight: 300;
  margin-top: 1rem;
}

.location-form-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1.5rem;
}

.location-form-container form input {
  /* margin-top: 0.5rem; */
  padding: 1rem 1rem;
  border: 1px solid rgba(51, 51, 51, 0.486);
  border-right: none;
  background-color: #d6d6d62d;
  border-radius: 2px;
  font-size: 2rem;
  font-weight: 200;
  color: inherit;
}

.location-form-container form button {
  padding: 1.3rem 2rem;
  background-color: #333;
  border: 1px solid rgba(51, 51, 51, 0.486);
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 1px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.location-form-container form button:hover {
  background-color: #555;
}
