.hourly-container {
  max-width: 90%;
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  /* height: 100%; */
}

.hourly-container h2 {
  font-size: 2rem;
}

.hourly-container__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  transform: scale(0.8);
  padding: 1rem;

  /* flex-wrap: wrap; */
}

.hour__listitem {
  padding: 0.2rem;
}
